src/main/resources/schema/classi.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="WS">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DataSet">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Row" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="cla_m_id"/>
                    <xs:element type="xs:string" name="tipo_corso_cod"/>
                    <xs:element type="xs:string" name="des"/>
                    <xs:element type="xs:string" name="cod"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="Num" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="LocalEntityName"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>